name: Deploy via SSH (distrischool-backend)

on:
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SSH_PORT: ${{ secrets.SERVER_SSH_PORT || '22' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configurar SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          touch ~/.ssh/known_hosts
          ssh-keyscan -p $SSH_PORT ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: Criar pasta no servidor
        run: |
          ssh -i ~/.ssh/id_ed25519 -p $SSH_PORT \
            ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} \
            "sudo mkdir -p /var/www/distrischool-backend && sudo chown -R \$(whoami):\$(whoami) /var/www/distrischool-backend"

      - name: Enviar código para o servidor (rsync)
        run: |
          rsync -avz --delete \
            -e "ssh -i ~/.ssh/id_ed25519 -p $SSH_PORT" \
            ./ \
            ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/var/www/distrischool-backend/

      - name: Deploy remoto (docker compose)
        run: |
          ssh -i ~/.ssh/id_ed25519 -p $SSH_PORT \
            ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "
              cd /var/www/distrischool-backend/ || exit 2

              # ENTRE NO DIRETÓRIO DO DOCKER COMPOSE
              cd infra/docker || exit 3

              docker compose down || true
              docker compose up -d --build
            "
